# --- HTTP Server ---
# Port untuk server HTTP
PORT=21999

# --- Database (PostgreSQL) ---
# Alamat host database Anda
DB_HOST=
# Port database
DB_PORT=
# Nama pengguna untuk koneksi database
DB_USERNAME=
# Kata sandi untuk pengguna database (gunakan yang aman di produksi!)
DB_PASSWORD=
# Nama database yang akan digunakan
DB_DATABASE=

# --- Redis ---
# Alamat host Redis
REDIS_HOST=
# Port Redis
REDIS_PORT=
# Kata sandi Redis (kosongkan jika tidak ada)
REDIS_PASSWORD=
# Nomor database Redis yang akan digunakan
REDIS_DB=

# --- MQTT Broker ---
# URL lengkap ke MQTT broker, termasuk protokol dan port (contoh: tcp://broker.hivemq.com:1883)
MQTT_URL=
# Nama pengguna untuk otentikasi MQTT
MQTT_USERNAME=
# Kata sandi untuk otentikasi MQTT
MQTT_PASSWORD=

# --- Logging (Opsional) ---
# Atur level log. Pilihan: "info" atau "debug". Default-nya adalah "info".
LOG_LEVEL=

JWT_SECRET=